@charset "UTF-8";
/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

.AFBrandingBackgroundColor:alias {
    color: #73C600; 
}

.AFBrandingBarLogo {
    background-image: url(brandingAreaLogo/faceserp.gif); 
    height: 248px; 
    width: 450px; 
}

.AFBrandingBar {
    height: 248px; 
}